<!DOCTYPE html>
<html lang = "en">
	<head>
	</head>
	<body style = "text-align:center;"> 	
		<br/><br/><br/><br/>	
		<h1>Recommendations</h1>
                <br/><br/>
                <p>Hi {{user_id}}! <br/><br/> Here is your watch history </p>
                <br/><br/>
                <embed type = "text/html" src = "temp.html" width = "300" height = "200">
                <br/><br/>
                <p>Hi {{user_id}}! <br/><br/> Here is your personalized series recommendation </p>
	</body>
</html>